@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0; padding: 0; box-sizing: border-box;
}

p,h1,h2,h3,h4,h5,h6{
    font-family: "Poppins", sans-serif;
}

main{
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #008cff8e);
    display: flex; align-items: center; justify-content: center;
}

.glass{
    min-height: 80vh;
    width: 60%;
    /* background: white; */
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 1.5rem;
    z-index: 3;
    backdrop-filter: blur(0.4rem);
    border: 1px solid white;
    display: flex;
}

.circle1, .circle2{
    background: white;
    border-radius: 100%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    height: 15rem; width: 15rem;
    z-index: 2;
}

.circle1{
    position: absolute;
    top: 2rem; left: 10rem;
}
.circle2{
    position: absolute;
    bottom: 10rem; right: 15rem;
}

.dashboard{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 1.5rem;
}

.games{
    flex: 2;
}

#avatar{
    width: 5rem;
    border-radius: 50%;
}

.link{
    display: flex;
    align-items: center;
    margin: 1rem 0rem;
    padding: 0.5rem 5rem;
}

.link h2{
    padding: 0rem 2rem;
}

.pro{
    background: linear-gradient(to right top, #65dfc9, #008cff8e);
    color: white;
    border-radius: 1.5rem;
    padding: 1rem;
}
